<mat-toolbar color="primary" >
  <span>
    <a routerLink="/">Home</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li >
      <a
        mat-button
        routerLink="/create"
        routerLinkActive="mat-accent"
        *ngIf="userIsAutheneticated"
      >
        New Post
      </a>
    </li>
    <li >
      <a
        mat-button
        routerLink="/auth/login"
        routerLinkActive="mat-accent"
        *ngIf="!userIsAutheneticated"
      >
        Login
      </a>
    </li>
    <li >
      <a
        mat-button
        routerLink="/auth/signup"
        routerLinkActive="mat-accent"
        *ngIf="!userIsAutheneticated"
      >
        Sign Up
      </a>
    </li>
    <li >
      <button
        mat-button
        *ngIf="userIsAutheneticated"
        (click)="onLogout()"
      >
        Logout
    </button>
    </li>
  </ul>
</mat-toolbar>
