
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        placeholder="E-mail"
      >
      <mat-error *ngIf="emailInput.invalid">
        Plese enter a valid email!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        matInput
        required
        placeholder="password">
      <mat-error *ngIf="passwordInput.invalid">
        Plese add a valid password!
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      *ngIf="!isLoading"
      color="primary"
      type="submit">
      Login
    </button>

  </form>
</mat-card>

