<h1 mat-dialog-title>An Error Occurred!</h1>
<div mat-dialog-content>
  <P class="mat-body-1">{{data.message}}</P>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>
    Okey
  </button>
</div>
