
<mat-card>
  <mat-spinner *ngIf="isLoading === true"></mat-spinner>

  <form [formGroup]="postCreateForm" (submit)="onSavePost()" *ngIf="isLoading === false ">

    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        formControlName="title"
        placeholder="Post Title"
        >
        <mat-error *ngIf="postCreateForm.get('title').invalid">
          Plese add title!
        </mat-error>
    </mat-form-field>

    <div>
      <button type="button" (click)="filePicker.click()"  mat-stroked-button >
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" >
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && postCreateForm.get('image').valid ">
      <img [src]="imagePreview" [alt]="postCreateForm.value.title">
    </div>

    <mat-form-field>
      <textarea
        matInput
        cols="6S"
        name="content"
        formControlName="content"
        placeholder="Post Content"
        >
      </textarea>
      <mat-error *ngIf="postCreateForm.get('content').invalid">
        Plese add content!
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">
      Save the Post
    </button>
  </form>
</mat-card>

